{% extends 'base.html.twig' %}

{% block title %}Création d'acteur{% endblock %}
{% block pageTitle %}Création d'acteur{% endblock %}

{% block body %}
<form action="" method="POST" enctype="multipart/form-data">
    <div class="grid grid-cols-2 gap-2">
        <label for="nom">
            Nom :
        </label>
        <input class="border border-gray-700" type="text" name="nom" id="nom" value="{{ acteur.nom }}" />
        <label for="prenom">
            Prenom :
        </label>
        <input class="border border-gray-700" type="text" name="prenom" id="prenom" value="{{ acteur.prenom }}" />
        <label for="date_de_naissance">
            Date de naissance :
        </label>
        <input class="border border-gray-700" type="date" name="DateDeNaissance" id="DateDeNaissance" value="{{ acteur.DateDeNaissance|date("d/m/Y") }}" />
        <label for="date_de_mort">
            Date de mort :
        </label>
        <input class="border border-gray-700" type="date" name="DateDeMort" id="DateDeMort" value="{{ acteur.DateDeMort|date("d/m/Y") }}" />
        <label>
            Photo :
        </label>
        <input type="file" name="photo" id="photo" value="{{ acteur.photo }}"/>
        <div class="col-span-2 flex justify-around">
            <button class="border border-gray-700 rounded-md px-4 py-1" type="reset">Annuler</button>
            <button class="border border-gray-700 rounded-md px-4 py-1" type="submit">Enregistrer</button>
        </div>
    </div>

</form>
{% endblock %}